<html>
<head>
<style>
  body{
  background-image: url("https://diabetes.org/sites/default/files/2019-08/Diabetes-Superfoods-min.jpg");
  backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
}
h1{
  color: black;
  font-size: 50px;
 
}
p{
  color: black;
  font-size: 25;
  font-style: italic;
}
</style>
</head>
<body method="GET" action="/about">
<h1 align="center">About Us</h1><br><br><br>
<p>Kritunga is a locally and family owned business.We're dedicated to creating wonderful sweet suprises that you'll absolutely love.When you visit our shop.you wont believe youe eyes with the incredible range of options that are available with us.We specialize in many kind of food items with more than 180 types.<br>
Without wonderful customers like you,our restaurent would never survive.That's why we're sure to say "Thankyou" to everyone who gives us their business and support. We're extremely thankful for our loyal customers and their love never falls short.<br>
Visit Kritunga where you'll always be treated like family.Warm smiles and welcome greetings are our number one guarantee.Carryout and delivery options are available.
</p>
</body>
</html>

