<!DOCTYPE html>
<html>
<head>
	<title>HomePage</title>
	<style>
		.a {
			border: 1px solid black; 
			border-radius: 7px; 
			color: white;
			text-decoration: none;
		}
	img {
		width: 200px;
		height: 200px;
		border-style: outset;
		border-radius: 50%;
		border-color: black;
		padding: 2px;
		margin-right: 30px;
		margin-bottom: 30px;
	}
</style>
</head>
<body>
	<h1 align="center"><b>Home Page</b></h1>
	<center><a class="a" href="/cart" style="background-color: green; padding: 5px 3px;">Go to Cart</a></center><br><br>
	<center>
	<a href="/homepage/NVBiryani"><img src="https://www.visakhaguide.com/wp-content/uploads/2019/10/chicken-biryani-recipe-1.jpg"></a>
	<a href="/homepage/Manchuria"><img src="https://tastypics.s3.us-west-1.amazonaws.com/a30f207304f8461eb193319491847e7e.jpg"></a>
	<a href="/homepage/NVStarters"><img src="https://i.ytimg.com/vi/BpvPbCLBiz0/maxresdefault.jpg"><br></a>
	<a href="/homepage/Naans"><img src="https://media-cdn.tripadvisor.com/media/photo-m/1280/1a/54/fd/77/paneer-butter-masala.jpg"></a>
	<a href="/homepage/Icecreams"><img src="https://png.pngitem.com/pimgs/s/194-1944764_ice-cream-social-hd-png-download.png"></a>
	<a href="/homepage/Drinks"><img src="https://familyapp.com/wp-content/uploads/2021/07/summer_cocktails.jpg"><br></a>
	<a href="/homepage/Desserts"><img src="https://www.rockrecipes.com/wp-content/uploads/2021/11/Best-British-Desserts-Collage-photo-of-9-desserts.jpeg.webp"></a>
	<a href="/homepage/Vegeterian"><img src="https://www.naturalproductsglobal.com/wp-content/uploads/2022/04/vegetarian-thali-julia-gartland-food52-jnO7hR.jpeg"></a>
	<a href="/homepage/soups"><img src="https://tmbidigitalassetsazure.blob.core.windows.net/rms3-prod/attachments/37/1200x1200/Simple-Chicken-Soup_exps24905_THHC2238741D07_28_5bC_RMS.jpg"></a>
</center>
</body>
</html>