<!DOCTYPE html>
<html>
    <head>
        <title>Add Items to Menu</title>
    </head>
    <body>
        <center>
            <p>ADD MENU</p>
            <form method="GET" action="/addMenuItems">
                itemname
                <input type="text" name="itemname"><br>
                itemcat
                <input type="text" name="itemcat"><br>
                itemcost
                <input type="text" name="itemcost"><br>
                imageurl
                <input type="url" name="imageurl"><br>
                <input type="submit" name="SUBMIT"><br>
            </form>
        </center>
    </body>
</html>

