<!DOCTYPE html>
<html>
<head>
<style>
body{
background-image: url("https://diabetes.org/sites/default/files/2019-08/Diabetes-Superfoods-min.jpg");

}
form{
font-size: 20px;
font-style: initial;
}
 </style>
</head>
<body>
 <center><br><br><br><br><br><br><br><br><br><br><br>
    
<!--<a href ="login"><button type="submit" name="login" ></button> </a><br><br>-->
<form method="GET" action="/signup">
    <button style="background-color: rgb(234, 211, 79); padding: 5px 15px;;" type="submit" ><b><i>signup</i></b></button><br><br><br>
</form>
<form method="GET" action="/login">
    <button style="background-color:rgb(234, 211, 79) ; padding: 5px 15px;;" type="submit"><b><i>Login</i></b></button><br><br><br>
  </form>
  <form method="GET" action="/about">
    <button style="background-color: rgb(234, 211, 79); padding: 5px 15px;;" type="submit"><b><i>About</i></b></button><br><br><br>
  </form>
  <form method="GET" action="/contactus">
    <button style="background-color: rgb(234, 211, 79); padding: 5px 15px;;" type="submit"><b><i>contact us</i></b></button><br><br><br>
  </form>


</center>
</body>
</html>

